body {
  background-color: blue;
  color: darkred;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* .parentContainer {
  border: solid black;
  height: 42vh;
} */

.topText {
  text-align: center;
}

.picContainer {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.vidContainer {
  border: solid darkred;
  height: 100%;
}

.tobyPic {
  width: 100%;
  display: none;
}

.andrewPic {
  width: 100%;
  display: block;
  border: solid darkred;
}

.tomPic {
  width: 100%;
  display: none;
}

.Tobey {
  width: 100%;
  display: none;
}

.Andrew {
  width: 100%;
  display: block;
}

.Tom {
  width: 100%;
  display: none;
}

.TobeySM {
  width: 100%;
  display: none;
}

.AndrewSM {
  width: 100%;
  display: block;
  text-align: center;
}

.TomSM {
  width: 100%;
  display: none;
}

.tobeySynop {
  display: none;
}

.andrewSynop {
  display: block;
  color: white;
}

.tomSynop {
  display: none;
}
